<style>
div { 
  text-align : center;
}
 a:link, a:visited {
  background-color: green;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #dddddd;
}
</style>

<div class="depot_form">
	<%if flash[:alert]%>
		<p id="notice"><%= flash[:alert] %></p>
	<%end%>
	<%=form_tag do%>
		<fieldset>
			<legend> Please LogIn to access your ToDo Lists </legend>
			<div style="display: inline-block;">
				<%= label_tag :name,'Name:'%>
				<%= text_field_tag :name, params[:name]%>
			</div>
			<div style="text-align : center;">
				<%= label_tag :password, 'Password:'%>
				<%= password_field_tag :password, params[:password]%>
			</div>
			<br>
			<div style="text-align : center;">
				<%= submit_tag "Login" %>
			</div>
			<br>
		</fieldset>
	<%end%>
	<%= link_to 'See Users', users_path %>
</div>