<h1>New Todo List</h1>

 <style>
 a:link, a:visited {
  background-color: green;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #dddddd;
}

</style>

<%= render 'form', todo_list: @todo_list %>

<%= link_to 'Back', todo_lists_path %>
